body{
/*	background: url('../images/bg.jpg')  ;*/
}
.container{
	margin-top:20px;
}
.container nav a{
	display:block;
	margin-bottom:10px;
	
}

h2 span{
/*	text-transform:uppercase;*/
	font-size:55%;
}
h3 {
/*	text-transform:uppercase;*/
	font-size:140%;
}

hr{
	height:10px;
	margin-left:0;
	padding-left:0;
	border:none;
	background: url('../images/seoBackground.png') repeat-x -20px 0;
}



/* #Phone Styles
================================================== */

@media only screen and (max-width: 767px) {
	.container nav{
		margin-bottom:20px;
	}
	.container nav li {
		float:left;
		margin:0 0 10px 8px;
	}

	.container nav a span{
		display:none;
	}
	
	.container div#content ul{
		margin-bottom:40px;
	}

	
	.container nav li a, .container div#content ul li a{
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  padding: 4px 12px;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
	  color: #444;
	  display: block;
	  font-size: 11px;
	  font-weight: normal;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  line-height: 21px;
	}
	
	h4{
		border-bottom:1.5px solid black;
	}
	h2{
		color:#000;
	}
}